BasedOnStyle: LLVM

AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
AlignConsecutiveDeclarations: Consecutive
AllowShortBlocksOnASingleLine: Empty
ColumnLimit: 100
InsertNewlineAtEOF: true
